/*公共样式表*/


/*可以解决高度塌陷和外边距重叠的问题*/

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/*字体*/

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    /*设置body的最小宽度，当到达该值时，body不再变小*/
    min-width: 1226px;
}


/*去除所有a标签的下划线*/

a {
    text-decoration: none;
    color: #333;
}


/*居中容器类*/

.w {
    width: 1226px;
    margin: 0 auto;
}

.container {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

a {
    img {
        height: 100%;
        width: 100%;
    }
}

input {
    outline: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}